@import url('https://fonts.googleapis.com/css2?family=Sedan&display=swap');

.backdrop {
    background-image: url('https://i.ibb.co/GWny38f/fundo.jpg');
    background-size: cover;
}

.sedan {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  